# Discord: Join and verify yourself in our Discord community

## Discord verification process

To streamline your onboarding experience, we've implemented a new verification process for joining and interacting with our Discord servers. Whether you're new to our community or already a member, follow the steps below to get set up quickly and easily. If you encounter any issues during the process, please reach out to our support team for assistance.

{% hint style="warning" %}
During the Discord verification process, we temporarily ask for access to **Join servers on your behalf** - this is done using the User API Token generated during the process.\
\
We do not store this token.
{% endhint %}

## New access to our Discord community server and Discord support server

{% hint style="info" %}
You must have an existing Rewst account to use the form
{% endhint %}

1. **Open the verification form**\
   Click on the link below to open the Discord verification form. Note you must choose the form link for the Rewst instance you log into:
   * [Rewst-US (app.rewst.io)](https://app.rewst.io/form/018f86cc-6a94-7965-b90f-a0daae9178cc).
   * [Rewst-EU (app.rewst.eu)](https://app.rewst.eu/form/0192ff0b-00f3-7c56-b898-50090dfb05b9)
   * [Rewst-UK (app.eu.rewst.io)](https://app.eu.rewst.io/form/01930353-19a2-7898-8ec3-11ba33dd2b8f)
   * [Rewst-APAC (app.rewst.asia)](https://app.rewst.asia/form/0193034c-8e43-7dc0-9621-0b6115d57fc5)
2. **Confirm your organization**\
   The form should automatically display your organization's name. If correct, proceed to the next step.
3. **Confirm self-verification**\
   Choose the **Me** option to confirm that you are verifying yourself.
4. **Authorize Discord access**\
   A dropdown will appear with the option to **Add New User to Rewst Discord**. Click on the link that says **Click here to authorize access to Discord**.

<figure><img src="../../.gitbook/assets/image (43).png" alt="" width="354"><figcaption></figcaption></figure>

5. **Sign in to Discord**\
   You will be redirected to the Discord sign-in page. Log in with your Discord account, or if you’re already logged in, review the permissions screen.
6. **Join the server**\
   Click **Authorize**. This will join you to the correct servers automatically.
7. **Verification complete**\
   Once authorized, you'll be redirected to a validation page confirming that you've been joined to the appropriate servers.

{% hint style="info" %}
If you're an MSP who wants to add a coworker or direct report to Discord, have them follow these steps, and we will add them to your dedicated Discord support channel.
{% endhint %}

## If you're already in the Discord community server, but need to access your Discord support server

If you're already part of our Rewst community server, you can follow the same steps above to start the verification process.

## Remove a user from Discord

To remove a user from Discord, such as a former employee who no longer works for your MSP, post a request in your private Discord support channel identifying the user you'd like to remove. Rewst Support will handle the request from there.

